@import 'fonts.scss';
@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: UbuntuMono, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: $color-primary;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: #fff;
}

.main-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
