@import 'variables.scss';

.uiToastBlock {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.uiToast {
  position: relative;
  padding: 1rem 2rem;
  color: #fff;
  cursor: default;
  border-radius: $default-radius;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 300ms;

  &:first-child {
    border-radius: 0 0 $default-radius $default-radius;
  }
}

.uiToast::before {
  position: absolute;
  bottom: 4px;
  left: 3px;
  height: 4px;
  content: '';
  background-color: #fff;
  border-radius: 4px;
  animation: progress 4800ms linear;
}

.uiToastVisible {
  opacity: 1;
  transform: translateY(0);
}

.successToast {
  background-color: $color-green-main;
}

.errorToast {
  background-color: $color-red-main;
}

@keyframes progress {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 6px);
  }
}
