// colors
$color-primary: #293133;
$color-secondary: #A5A5A5;
$color-light: #dedede;
$color-ultra-light: #f5f3f3;
$color-red-main: #DB2727;
$color-green-main: #00C853;
$color-green-light: #95e8b3;
$color-orange-main: #FF6D00;

// sizes
$default-radius: 0.35rem;
