@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/UbuntuMono-Regular.ttf') format('trueType');
}

@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/UbuntuMono-Bold.ttf') format('trueType');
}
